/* Main element styling */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1{
	font-size: 3.5em;
}

/* Div Styling */
#header{
	padding-top:1%;
	padding-bottom: 10px;
	background-color: lightskyblue;
	text-align: center;
}
.creation{
	padding-top: 30px;
	text-align: center;
}
#var{
	padding: 5px;
	line-height: 30px;
}

/* Input Styling */
*:focus {
    outline: 0;
}
form{
	font-size: 125%;
}
input{
	padding:3px;
	border: none;
	border-bottom: solid 3px deepskyblue;
	transition: border 0.2s;
}
input:focus, input.focus {
	border-bottom: solid 3px dodgerblue;
}
button{
	padding: 10px;
	border: none;
	border-bottom: solid 3px deepskyblue;
}